
@font-face{
    font-family: 'Lato';
    Src: url("assets/fonts/Lato-Regular.ttf"); 
    font-weight:900;
}
@font-face{
    font-family: 'Lato-Bold';
    Src: url("assets/fonts/Lato-Bold.ttf"); 
    }
@font-face{
    font-family: 'Lato-Light';
    Src: url("assets/fonts/Lato-Light.ttf"); 
    }
@font-face{
    font-family: 'Lato-Black';
    Src: url("assets/fonts/Lato-Black.ttf"); 
    }




body, html {
    display: flex;
    justify-content: center;
    font-size: 10px;
    /* src: url('https://fonts.googleapis.com/css?family=Lato&display=swap'); */
    font-family: "Lato", sans-serif;
}

.wrapper {
    display: flex;
    width: 1020px;
    flex-direction: column;
}


.header {
    display: flex;
    height: 89px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;

    justify-content: space-between;
    align-items: center;

    /* line-height: 1.65; */
    
}

.logo {
    font-family: Lato-Bold;
    padding: 0px 0px 0px 40px;
    font-size: 2.55rem;
    letter-spacing: -0.02em;
    font-weight: 500;
}

.logo h1 sup {
    padding: 0px;
    margin: 0px;
    color: #dd655f;
    font-weight: 700;
    /* letter-spacing: -0.1em; */
}

.nav {
    display: flex;
    width: 345px;
    font-family: "Lato";
    font-size: 1.19rem;
    margin: 9px 68px 0 0;
    /* background-color: rebeccapurple; */
    justify-content: space-between;
    align-items: center;
}

.nav li a {
    display: block;
    text-decoration: none;
    color: white;
}

.nav li a:hover {
    color: #f06c64;
}

.nav
.active-nav-item a {
    color: #f06c64;
}

.nav li:not(:first-child) {
    margin-left: 14px;
}

.dots {
    list-style-type: none;
    margin-bottom: 5px;
    color: #494e62;
}

li {
    list-style-type: none;
}

.slider {
    height: 594px;
    display: flex;
    justify-content: space-between;
    background-color: #f06c64;
    align-items: center;
    border-bottom: 6px solid #ea676b;
}

.slider-contant {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.phone-vertival {
    position: relative;
    height: 458px;
    width: 215px;
    top: 53px;
    left: 54px;
    /* flex-shrink: 1; */
}

.phone-horizontal {
    position: relative;
    height: 458px;
    width: 215px;
    top: 53px; 
    right: 203px;
    /* flex-shrink: 1; */
    transform: rotate(90deg);
}

.phone-image {
    display: inline-block;
    position: absolute;
    object-fit: contain;
    /* height: 100%; */
    /* max-width: 100%; */
    object-position: 0 50%;
    z-index: 10;
  }


img.phone-shadow-v {
    z-index: 1;
    top: -2px;
    left: -3px;
}

img.phone-image.phone-shadow-h {
    z-index: 1;
    top: -28px;
    left: -7px;
    transform: rotateY(180deg);
}

.arrow-left {
    margin-left: 42px;
    margin-top: -6px;
}

.arrow-right {
    margin-top: -6px;
    margin-right: 40px;
    transform: rotate(180deg);
}

.layer-content-v {
    display: block;
    position: absolute;
    width: 188px;
    height: 333px;
    margin-top: 65px;
    margin-left: 14px;

    background-image: url(./assets/img/layer6.png);
    z-index: 11;
}

.layer-content-h     {
    position: absolute;
    width: 334px;
    height: 189px;
    margin-top: 137px;
    margin-left: -59px;

    background-image: url(./assets/img/layer5.png);
    transform: rotate(-90deg);
    z-index: 11;
}

.our-services {
    display: flex;
    padding: 40px 0 32px 0;
    color: #767e9e;
    background-color: #F2F2F2;
    border-bottom: 6px solid #ffffff;
}

.services-description {
    margin: 0 40px 0 40px;
}

.services-description h2{
    font-family: Lato-Black;
    font-size: 3.1rem;
    padding: 0.7333em 0 0.4333em;
    /* font-weight: bold; */
    letter-spacing: -0.02em;

}

.services-description p {
    padding-top: 0.3em;
    margin: 0 0 45px 0px;
    font-size: 18px;
    line-height: 3rem;
    font-weight: 300;
    text-align: justify;
    letter-spacing: -0.02em;
    font-kerning: none;
}

.services-row  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 20px 0 20px;
    width: 960px;
}

.services-item {
    display: flex;
    flex-wrap: nowrap;
    flex: 1 1 1px;
    /* background-color: brown; */
    padding: 0px 0px 25px 20px;
    justify-content: space-between;
    width: 320px;
}

/* .services-icons {
    
} */

.services-icons img{
    height: 56px;
    width: 56px;
    margin: 2px 10px 0 0;
    object-fit: none;
    border-radius: 50%;
    border: 2px solid #666d89;
}
.services-annotations {
    width: 220px;
    font-family: Lato;;
}

.services-annotations h2{
    font-family: Lato-Black;
    font-size: 1.9rem;
    line-height: 2rem;
    letter-spacing: -0.02em;
    /* font-weight: 900; */
}

.services-annotations p{
    font-family: Lato;
    height: 68px;
    padding-top: 9px;
    font-size: 1.2rem;
    line-height: 2.1rem;
    letter-spacing: 0.01em;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: justify;
    word-break: break-all;
}


/* PORTILO




*/



.portfolio {
    display: flex;
    flex-direction: column;
    background-color: #2d303a;
    padding: 0 0px 47px 40px;
    border-bottom: 6px solid #323746;
    font-size: 10px;
    font-family: 'Lato';
    color: #666d89;

}

.title-portfolio h2 {
    font-family: Lato-Black;
    font-size: 3rem;
    /* line-height: 1; */
    margin-top: 62px;
    /* font-weight: 900; */
    padding: 0;
}

.title-portfolio p {
    font-size: 1.8rem;
    margin-top: 27px;
    letter-spacing: -0.012em;
}

.filter-portfolio ul {
    display: flex;
}

.filter-portfolio ul li {
    text-align: justify;
    font-size: 1.2rem;
    border: 1px solid #666d89;
    border-radius: 4px;
    padding: 5px 6px 3px 6px;
    margin: 17px 8px 19px 2px;
    letter-spacing: -0.01em;
    font-weight: 700;
}

.filter-portfolio ul li:hover{
    cursor: pointer;
    color: #c5c5c5;
    border-color: #c5c5c5;
}

.images-portfolio img {
    margin: 0 18px 19px 0;
}
.images-portfolio>img:nth-child(n+13) {
    display: none;
}

.about {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    padding: 0 40px 66px 40px;
    border-bottom: 6px solid #fff;
    color: #666d89;
}

.about-portfolio h2 {
    font-family: Lato-Black;
    font-size: 3.1rem;
    margin-top: 62px;
    /* font-weight: 900; */
    padding: 0;
    letter-spacing: -0.028em;
}


.about-portfolio p {
    font-family: "Lato";
    font-size: 1.8rem;
    margin-top: 20px;
    letter-spacing: -0.022em;
    line-height: 1.68;
    /* font-weight: 100; */
    word-spacing: 2.8px;

}

.person-photo {
    width: 300px;
    height: 300px;
}

.about-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.about-person {
    display: flex;
    flex-direction: column;
    margin: 45px 20px 0 0px;
    /* overflow: hidden;
    text-overflow: ellipsis; */
}

.about-person h3 {
    width: 300px;
        overflow: hidden;
    text-overflow: ellipsis;
}


.person-name {
    font-family: 'Lato-Black';
    font-size: 19px;
    margin-top: 16px;
    text-align: justify;
    letter-spacing: -0.029em;
    word-spacing: -1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* font-weight: 900; */
}

.person-text {
    font-size: 1.2rem;
    margin-top: 11px;
    font-weight: 500;
    letter-spacing: -0.019em;
    line-height: 1.74;
    word-spacing: 1.3px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px;
    height: 40px;
}

.social-container {
    margin-left: 1px;
    margin-top: 25px;
    width: 152px;
    display: flex;
    justify-content: space-between;
}


/*////////////////////////////////////////////////////////////////////////*/

.get-a-quote{
    background-color: rgb(240, 108, 100);
    color: #f0d8d9;
    height: 648px;
    border-bottom: 6px solid rgb(234, 103, 107);
}
.get-a-quote-container{
    margin: auto;
    width: 940px;
    
    
}
.get-a-quote-container h2{
    padding-top: 62px;
    margin: 0;
    font-size: 30px;
    font-family: 'Lato-Black';
}
.get-a-quote-container p{
    padding-top: 21px;
    margin: 0;
    font-size: 18px;
    font-family: 'Lato-Light';
    text-align: justify;
    line-height: 1.7;
}
.input-container{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.get-a-quote__form{
    /* color: rgb(102, 109, 137); */
    width: 620px;
    padding-top: 41px;
}

/* .form-def input {
    padding-left: 10px;
} */

/* input::-moz-placeholder {  padding-left: 10px;} */

/* input[type="text"]:-moz-placeholder { color:#f48c8f;
    padding-left: 10px;
    width: 609px; 
}
    
input[type="email"]:-moz-placeholder{ color:#f48c8f;
        padding-left: 10px;
        width: 609px; 
}  */



/* input::-moz-placeholder { color:#f48c8f;
padding-left: 100px; } */


/* input::-webkit-input-placeholder { color: #f48c8f; }
textarea::-webkit-input-placeholder { color:  #f48c8f; }
textarea:-moz-placeholder { color: red; } */

.get-a-quote__contact{
    width: 300px;
    padding-top: 44px;
}
h3{
    font-size: 18px;
    font-family: 'Lato-Black';
    margin: 0;
}
.get-a-quote__contact p,
.input-container p{
    margin: 0;
    font-size: 12px;
    font-family: 'Lato';
    padding-top: 10px;
    line-height: 1.82;
    text-align: justify;
}
.contact-line{
    padding-top: 25px;
}

.contact-line p {
    padding-top: 0px;
}

.contact-line__block{
    padding-left: 0px;
    margin: 0;
    font-size: 12px;
    font-family: 'Lato';
    /* padding-bottom: 2px; */
}

.contact-line__block a {
    text-decoration: none;
    color: white;
}

.block-location{
    padding-left: 2px;
}
.ico{
    padding-right: 9px;
}
form{
    padding-top: 2px;
}
textarea {
    border-radius: 5px;
    background-color: rgb(214, 86, 79);
    width: 615px;
    height: 199px;
    border: none;
    resize: none;
}
input{
    margin-bottom: 16px;
    height: 38px;
    border-radius: 5px;
    width: 619px;
    background-color: rgb(214, 86, 79);
    border: none;
    padding: 0px;
}
footer{
    color: rgb(102, 109, 137);
    background-color: rgb(45, 48, 58);
    height: 76px;
}
.footer-wrapper{
    width: 940px;
    margin: auto;
    padding-top: 17px;
}
.footer-text{
    width: 95px;
}
.footer-icon{
padding-top: 5px;
margin-right: -4px;
}

.social-net{
    width: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 32px;

}
.social-net:hover{
    cursor: pointer;
}
.form-button-submit{
    padding-left: 520px;
    padding-top: 10px;
}
.button-submit{
    background-color: rgb(214, 86, 79);
    height: 36px;
    width: 100px;
    border-radius: 5px;
    border: 0px solid white;
    color: white;
    cursor: pointer;
}

::placeholder {
    font-family: Lato;
    font-size: 12px;
    color:#f0d8d9;
    padding-left: 15px;
}
textarea::placeholder{
    font-family: Lato;
    font-size: 12px;
    color:#f0d8d9;
    padding-left: 12px;
    padding-top: 9px;
}


.get-a-quote__form input::-moz-placeholder { color:#f48c8f; }
input::-webkit-input-placeholder { color: #f48c8f; }
textarea::-webkit-input-placeholder { color:  #f48c8f; }
textarea:-moz-placeholder { color: red; }


